<div class="card" style="width: 18rem; margin:30px auto;">
    
    <form (submit)="addContact()" style="padding:20px" >
        <div class="form-group">
          <label for="formGroupExampleInput">First name</label>
          <input type="text" class="form-control" id="formGroupExampleInput" [(ngModel)]="first_name" name="first_name" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Last name</label>
          <input type="text" class="form-control" id="formGroupExampleInput2"  [(ngModel)]="last_name" name="last_name" placeholder="Last Name">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Another label</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" [(ngModel)]="phone" name="phone" placeholder="PHONE NO.">
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
      </form>

</div>
<br>
<div class="container" class="w-auto p-3" >


        <table class="table table-dark" >
            <thead>
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone no.</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contact of contacts"> 
                
                <td>{{contact.first_name}}</td>
                <td>{{contact.last_name}}</td>
                <td>{{contact.phone}}</td>
                <button (click)="deleteContact(contact._id)" value="Delete" class="btn btn-danger" >DELETE</button> 
              </tr>
              
            </tbody>
          </table>

</div>
